body  {
   background-image: url("img/sleep0.png");
   background-image: url("assests/https://media.tenor.com/Qk9SE5aOLPEAAAAe/yes-awkward.png");
   background-image: url("assests/https://i.pinimg.com/736x/62/d6/ef/62d6ef707117648fddeb7eba85364fc2.jpg "Drawing hamster meme")
body  {
background-color: lightblue; 
}

 img { 
   max-width: 50%; 
   height: auto; 
   border-radius: 8px; 
 } 

h1 { 
  font-family: "Rubik Glitch", serif; 
  font-weight: 400; 
  font-style:normal; 
  color: white: 
  }

  p { 
    color: pink
<h1 style="background-color:Violet;">Violet</h1>
<h1 style="background-color:LightGray;">LightGray</h1>
