body  {
   background-image: url("img/sleep0.png");
   background-image: url("assests/https://media.tenor.com/Qk9SE5aOLPEAAAAe/yes-awkward.png");
   background-image: url("assests/https://i.pinimg.com/736x/62/d6/ef/62d6ef707117648fddeb7eba85364fc2.jpg "Drawing hamster meme");
   background-image: url("assests/https://i.pinimg.com/236x/3f/c4/a8/3fc4a884a3d0ec5b75b0ceb4c73c712e.jpg);
   background-image: url("assests/https://i.pinimg.com/736x/73/c2/6f/73c26f68cd797b85c39035c3e2560cfa.jpg);
body  {
background-color: lightblue; 
}

 img { 
   max-width: 50%; 
   height: auto; 
   border-radius: 8px; 
 } 

h1 { 
  font-family: "Rubik Glitch", serif; 
  font-weight: 400; 
  font-style:normal; 
  color: white: 
  }

  p { 
    color: red
<h1 style="background-color:Violet;">Violet</h1>
<h1 style="background-color:LightGray;">LightGray</h1>
