body  {
   background-image: url("img/sleep0.png");
}

 img { 
   max-width: 50%; 
   height: auto; 
   border-radius: 8px; 
 } 

h1 { 
  font-family: "Rubik Glitch", serif; 
  font-weight: 400; 
  font-style:normal; 
  color: white: 
  }

  p { 
    color: pink
<h1 style="background-color:Violet;">Violet</h1>
<h1 style="background-color:LightGray;">LightGray</h1>
