body  {
background-color: lightblue; 
margin-top: 15px; 
   margin-left: 15px; 
}
body { 
   background-image: url("images/do you wanna fight.jpg"); 
   background-color: #cccccc;
   height: 100% 
   width: 500px 
   background-position: center;
   background-repeat: no repeat; 
   background-size: cover; 
   position: relative 

h1 { 
   color: darkblue;
   text-align: left;
   font-family: georgia;

h2 {
   color: darkblue;
   text-align: left;

 img { 
   max-width: 50%; 
   height: auto; 
   border-radius: 8px; 
 } 

h1 { 
  font-family: "Rubik Glitch", serif; 
  font-weight: 400; 
  font-style:normal; 
  color: white: 
  }

  p { 
    color: red
<h1 style="background-color:Violet;">Violet</h1>
<h1 style="background-color:LightGray;">LightGray</h1>
